Content/TutorialContent/AlternateMonsterMesh/4LegMonsterSkeletalMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/TutorialContent/AlternateMonsterMesh/backup4Leg.uasset filter=lfs diff=lfs merge=lfs -text
Content/TutorialContent/SkeletalMesh/TutorialScorpionMesh.uasset filter=lfs diff=lfs merge=lfs -text
